<%= partial "layouts/banner" %>
<div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "layouts/cards" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "layouts/cards" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "layouts/cards" %>
    </div>
  </div>
</div>


